body {
  background-color: rgba(247, 244, 243, 0.5);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}
.dashboard{
  background-image: url('image/background.png'); 
  background-position: right;
  background-repeat: no-repeat;
  background-size: auto 100%;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 1rem;
}

.logo p {
  margin: 0 0 0 0.5rem;
  color: #fdc600;
  font-weight: bold;
  font-size: 1rem;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li a {
  text-decoration: none;
  color: #080708;
  padding: 0 1rem;
  font-weight: 500;
}

nav ul li a.active {
  color: #fdc600;
  font-weight: bold;
}

.container1 {
  display: flex;
  justify-content: flex-start; 
  align-items: flex-start;
  margin: 0.5rem;
  padding-bottom: 2.5rem;
}
.chart-container1 {
  width: 100%;
  max-width: 40rem; 
  margin: 0 auto;
  height: 20rem; 
  margin-top: 0.7rem;
}
.dashboard h1 {
  transform: translateX(35%);
  font-weight: bold; 
}
.form-container1 {
  margin: 10rem; /* Pusatkan form di halaman */
  width: 5rem; 
  flex-direction: column; 
  font-size:1rem;
  margin-bottom: 0rem;
}
.form-container1 input {
  width: 100%;
  padding: 0.7rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  margin-bottom: 0.8rem;
  text-align: right;
}
#building1 {
  background-color: #0b5cf2; /* Warna biru */
  background-color:#0B5CF2; 
}

#building2 {
  background-color: #ff0408; /* Warna merah */
  background-color:#FF0408; 
}

#total {
  background-color: #fdc600; /* Warna kuning */
  background-color:#FDC600;
}
#submit {
  background-color: #fdc600;
}
.container3 {
  border-style: solid;
  padding-top: 1.2rem;
  padding-bottom: 0.6rem;
  border-color: #fdc600;
  margin: 2rem;
  position: relative;
}
.form-container {
  display: flex;
  justify-content: space-evenly;
  align-items: end;
}

.form-input select,
.form-input input {
  margin-top: 0.2rem;
  padding: 0.7rem;
  border-color: #fdc600;
  border-radius: 0.5rem;
}
h3.report {
  position: absolute;
  top: -1.2rem;
  translate: -50% -50%;
  left: 50%;
  background-color: white;
}

/* Report */

#report header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

#report .back-button {
  display: flex;
  align-items: center;
  text-decoration: none;
}

#report .back-button img {
  width: 1.2rem;
}

#report .back-button p {
  margin: 0 0 0 0.5rem;
  color: #fdc600;
  font-weight: bold;
  font-size: 1.2rem;
}

#report .report-date {
  margin: 0;
  color: #080708;
  font-weight: bold;
  font-size: 1.2rem;
}

#report .report-content {
  margin: 0.5rem 2rem 2rem 2rem;
  padding: 0;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  border: solid 8px #fdc600;
  position: fixed;
}

#report .report-content h1 {
  font-size: 2.5rem;
  position: absolute;
  translate: -50% -50%;
  left: 50%;
  color: #080708;
  background-color: #faf9f8;
  margin: 0;
  padding: 0 1.5rem 0.5rem 1.5rem;
}

#report .report-content-inside {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  margin: 2rem 1rem 1rem 1rem;
  display: flex;
  justify-content: space-around;
}

#report .building {
  position: relative;
  width: 45%;
}

#report hr {
  height: 4px;
  background-color: #fdc600;
  border: none;
}

#report .building-name {
  width: fit-content;
  color: #080708;
  background-color: #faf9f8;
  margin: 0;
  padding: 0 1rem 0 0;
  position: absolute;
  top: -0.2%;
}

#report table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1.5rem;
  color: #080708;
  position: relative;
}

#report thead,
#report tfoot {
  background-color: #fdc600;
}

#report thead th {
  padding: 0.8rem;
}

#report tbody {
  overflow-y: auto;
  display: block;
  padding-right: 2px;
}

#report tbody::-webkit-scrollbar {
  width: 5px;
}

#report tbody::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 5px;
}

#report thead,
#report tfoot,
#report tbody tr {
  display: table;
  table-layout: fixed;
}

#report tbody tr:nth-child(odd) {
  background-color: #faf9f8;
}

#report tbody tr:nth-child(even) {
  background-color: #d9d9d9;
}

#report tbody td {
  padding: 0.3rem 0.8rem;
}

#report tbody tr td:last-child {
  text-align: end;
}

#report tfoot th {
  padding: 0.4rem 0.8rem;
}
